.benefits-card {
  margin: 20px 15px;
  width: 130px;
  height: 140px;
  background-color: white;
  border-radius: 20px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.benefits-card div img {
  width: 80px;
  height: 80px;
}

.benefits-card div h1 {
  font-size: 1rem;
  text-align: center;
}