.contact {
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  background-color: black;
  color: white;
  padding: 10px auto;
}

.contact-details {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.contact .contact-details .social-media p {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.contact .contact-details .social-media p span {
  display: flex;
  align-items: center;
  margin-right: 5px;
}